// $primary : rgba(191, 142, 4, 0.89);
$primary : rgba(197, 31, 39, 0.89);
// $primary   : rgba(74, 55, 40, 0.9);
// $secondary : #26A69A;
$secondary : #0083ff;

$accent : #dd4b39;

$dark : #1D1D1D;

$positive : #21BA45;
$negative : #C10015;
// $info : #31CCEC;
$info : #0083ff;
$warning : #F2C037;